<form class="row g-3 needs-validation mx-5 justify-content-center" novalidate>
        
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="password">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label"> ReEnter Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="password">
      </div>
        <button type="submit" class="btn btn-primary w-50">Change Password</button>
</form>